PORT=8000
HOST=0.0.0.0
# URL Webhook của Tina CRM workflow
TINA_WEBHOOK_URL=http://<IP_HOAC_DOMAIN_TINA_CRM>:3000/webhooks/workflows/5b8996b9-379d-4af4-87ab-f9215a4ebb32/85b47d46-39c1-4db7-8a97-2dd8634ef000
DEFAULT_PM_EMAIL=tuyendung@tinasoft.vn
DOWNLOAD_TIMEOUT_SECONDS=30
FORWARD_TIMEOUT_SECONDS=30
